<div class="box box-100 altbox"><!-- .altbox for alternative box's color --> 
	<div class="boxin"> 
		<div class="header"> 
			<h3><%= "#{@conference.title}: Attendees"%></h3>
		</div> 
		<div class="content"> 
			<table cellspacing="0"> 
				<thead> 
					<tr> 
						<th>First Name</th>
						<td class="tc">Last Name</td> 
						<td class="tc">Email</td>
						<td class="tc">Matched</td>
						<td class="tc">Answers</td>
						<td></td> 
					</tr> 
				</thead> 
				<tbody>
				  <% @first = true%>
				  <% @attendees.each do |a| %>
				    <%if @first%>
				    <tr class="first"><!-- .first for first row of the table (only if there is thead) --> 
						<%else%>
						<tr>
						<%end%>	
  						<% if a.profile.blank? %>
  						  <th>N/A</th>
  						  <td>N/A</td>
  						  <td><%= a.email %></td>
  						<%else%>
  							<th><%= link_to a.profile.first_name, attendee_profile_path(a.profile) %></th> 
  							<td><%= link_to a.profile.last_name, attendee_profile_path(a.profile) %></td>
  							<td><%= a.email %></td>
  						<%end%>
							
							<% if ConferenceAttendeeResponse.where("attendee_id = ? AND conference_id = ?", a.id, @conference.id).blank? %>
  							<td>No</td>
  							<td>N/A</td>
  						<%else%>
  						  <td>Yes</td>
  						  <td><%= link_to "view", conference_attendee_response_path({:conference_id => @conference.id, :attendee_id => a.id}) %></td>
  						<%end%>
						</tr>
				  <% @first = false %>
				  <%end%>
				</tbody> 
			</table> 
		</div> 
	</div> 
</div>