<h1>My Conferences</h1>
  <% if @organizer.sign_in_count < 3 %>
    <h2>Welcome to your Conferences page! You can view all of your conferences here.</h2>
  <%end%>
  
  <%= link_to "+New Conference", new_conference_path %>

  <% if !@conferences.nil? %>
    <div>
      <% @conferences.each do |c| %>
        <h3><%= c.title %></h3>
        <%= link_to "Edit", edit_conference_path(c) %><br/>
        Location: <%= c.location %><br/>
        Event Details: <%= c.details %><br/>
        Dates:
        <table>
          <tr>
            <td>From</td>
            <td><%= c.start_date.strftime("%A %B %d") %></td>
          </tr>
          <tr>
            <td>To</td>
            <td><%= c.end_date.strftime("%A %B %d") %></td>
          </tr>
        </table>
        
        <%= link_to "Event Organizer", organizer_profile_path(c.organizer) %>
      <%end%>
    </div>
  
  <%else%>
    <h3>You currently do not have any conferences</h3>
  <%end%>

