<p>
  <%= c.label :title %>
  <%= c.text_field :title %>
</p>
<p>
  <%= c.label :details %>
  <%= c.text_area :details %>
</p>
<p>
  <%= c.label :location %>
  <%= c.text_field :location %>
</p>
<p>
  <%= c.label :start_date %>
  <%= c.text_field :start_date %>
</p>
<p>
  <%= c.label :end_date %>
  <%= c.text_field :end_date %>
</p>



<script type="text/javascript">
  $(function() {
    $("input#start_date").datepicker();
    $("input#end_date").datepicker();
  });
</script>
