<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label "Logo (150x150px)" %>
  <%= f.file_field :logo %>
</p>
<p>
  <%= f.label :details %>
  <%= f.text_area :details %>
</p>
<p>
  <%= f.label :location %>
  <%= f.text_field :location %>
</p>

<%if !@conference.start_date.nil? && !@conference.end_date.nil? %>
  <p>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, :value => @conference.start_date.strftime("%m/%d/20%y") %>
  </p>
  <p>
    <%= f.label :end_date %>
    <%= f.text_field :end_date, :value => @conference.end_date.strftime("%m/%d/20%y") %>
  </p>
<%else%>
  <p>
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </p>
  <p>
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </p>
<%end%>