<div class="box box-100 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%= "#{@conference.title}"%></h3>
			<% if !current_organizer.blank? %>
			  <%= link_to "My Conferences&nbsp;>>".html_safe, organizer_conferences_url, :class => "button" %>
			<%elsif !current_attendee.blank? %>
			  <%= link_to "My Conferences&nbsp;>>".html_safe, attendee_conferences_url, :class => "button" %>
			<%end%>
			<ul><!-- Tabs in the box's header -->
				<li><%= link_to "details", conference_path(@conference) %></li>
			  <li><%= link_to "match me", conference_match_path(@conference.id), :class => "active" %></li>
			</ul>
		</div>
		<div class="content">
      
      <%= form_for @conference, :html => {:multipart => true, :class => "fields", :method => "put"}, :url => conference_make_matches_url do |f| %>
        <fieldset>
      		<legend><strong>Conference Matching</strong></legend>
      		<%if flash[:success]%>
      		  <div class="msg msg-ok"> 
  					  <p><%= flash[:success].html_safe %></p> 
  				  </div>
  				<%end%>
  				<%if flash[:error]%>
      		  <div class="msg msg-error"> 
  					  <p><%= flash[:error].html_safe %></p> 
  				  </div>
  				<%end%>
  				<%= f.hidden_field :id %>
  				<%= f.fields_for :questions do |builder| %>
  				  <%= render 'match_questions', :f => builder %>
  				<%end%>
          <div class="sep">
            <%= f.submit "Update", :class => "button altbutton" %> 
          </div>
        </fieldset>
      <%end%>  
    
		</div>
	</div>
</div>