<div>
  <h3><%= link_to @conference.title, conference_path(@conference) %></h3>
  <%= link_to image_tag(@conference.logo.url(:profile)), conference_path(@conference) %><br/>
  Location: <%= @conference.location %><br/>
  Event Details: <%= @conference.details %><br/>
  Dates:
  <table>
    <tr>
      <td>From</td>
      <td><%= @conference.start_date.strftime("%A %B %d, 20%y") %></td>
    </tr>
    <tr>
      <td>To</td>
      <td><%= @conference.end_date.strftime("%A %B %d, 20%y") %></td>
    </tr>
  </table>
  
  <%= link_to "Event Organizer", organizer_profile_path(@conference.organizer) %>
</div>

<% content_for :sidebar do %>
  <% if current_user_class == Organizer %>
    <%= render 'organizers/conference_nav', :c => @conference %>
  <% elsif current_user_class == Attendee %>
    <%= render 'attendees/conference_nav', :c => @conference %>
  <%end%>
<%end%>

<div class="box box-100 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%= "#{@conference.title}"%></h3>
			<%= link_to "Back&nbsp;>>".html_safe, organizer_conferences_url, :class => "button" %><!-- Action button in the header of the box -->
			<ul><!-- Tabs in the box's header -->
				<li><%= link_to "details", edit_conference_path(@conference), :class => "active" %></li>
				<li><%= link_to "questions", edit_conference_questions_path(@conference) %></li>
				<li><%= link_to "attendees", edit_conference_attendees_path(@conference) %></li>
			</ul>
		</div>
		<div class="content">
      
      <%= form_for @conference, :html => { :multipart => true, :class => "fields", :method => "put"}, :url => conference_url do |f| %>
        <fieldset>
      		<legend><strong>Conference Details</strong></legend>
      		<%if flash[:success]%>
      		  <div class="msg msg-ok"> 
  					  <p><%= flash[:success].html_safe %></p> 
  				  </div>
  				<%end%>
  				<%if flash[:error]%>
      		  <div class="msg msg-error"> 
  					  <p><%= flash[:error].html_safe %></p> 
  				  </div>
  				<%end%>
  				<%= f.hidden_field :id %>
          <%= render 'edit_form', :f => f %>  
          <div class="sep">
            <%= f.submit "Update", :class => "button altbutton" %> 
          </div>
        </fieldset>
      <%end%>  
    
		</div>
	</div>
</div>