<div class="box box-100 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%= "#{@conference.title}"%></h3>
			<% if !current_organizer.blank? %>
			  <%= link_to "My Conferences&nbsp;>>".html_safe, organizer_conferences_url, :class => "button" %>
			<%elsif !current_attendee.blank? %>
			  <%= link_to "My Conferences&nbsp;>>".html_safe, attendee_conferences_url, :class => "button" %>
			<%end%>
			<ul><!-- Tabs in the box's header -->
				<li><%= link_to "details", conference_path(@conference), :class => "active" %></li>
				<% if current_attendee && current_attendee.matches.blank? %>
				  <li><%= link_to "match me", conference_match_path(@conference.id) %></li>
				<%else%>
				  <li><%= link_to "my matches", conference_matches_path(@conference.id) %></li>
				<%end%>
			</ul>
		</div>
		<div class="content">
      
      <fieldset> 
				<div class="grid"><!-- grid view --> 
					<div class="line"> 
						<div class="item"> 
							<div class="inner"> 
								<%= link_to image_tag(@conference.logo.url(:profile)), conference_path(@conference), :class => "thumb" %> 
								<div class="data"> 
									<h4><span class="tag tag-gray"><%= @conference.start_date.strftime("%m/%d/%y") %></span><%= @conference.title %></h4> 
									<p><%= @conference.details %></p>
									<div class="meta">Location: <%= @conference.location %></div>
									<div class="meta">End Date: <%= @conference.end_date.strftime("%m/%d/%y") %></div>
									<ul class="actions"> 
									</ul> 
								</div> 
							</div> 
						</div>
          </div>
        </fieldset>  
		</div>
	</div>
</div>