<div class="box box-100 altbox"><!-- .altbox for alternative box's color --> 
					<div class="boxin"> 
						<div class="header"> 
							<h3>Conferences</h3> 
						</div> 
						<div class="content"> 
							<table cellspacing="0"> 
								<thead> 
									<tr> 
										<th>Conference</th>
										<td class="tc">Location</td> 
										<td class="tc">Attendees</td>
										<td class="tc">Start date</td>
										<td class="tc">End date</td>
										<td></td> 
									</tr> 
								</thead> 
								<tbody>
								  <% @first = true %>
								  <% @conferences.each do |c| %>
								    <%if @first%>
								      <tr class="first"><!-- .first for first row of the table (only if there is thead) --> 
  									<%else%>
  									  <tr>
  									<%end%>	
  										<th><%= link_to c.title, conference_path(c) %></th> 
  										<td><%=c.location%></td>
  										<td class="tc"><a class="ico-comms" href="#"><%=c.attendees.count%></a></td><!-- a.ico-comms for comment-like backgrounds --> 
  										<td><%=c.start_date.strftime("%B %d, 20%y")%></td> 
  										<td><%=c.end_date.strftime("%B %d, 20%y")%></td> 
  										<td><a href="#">edit</a></td> 
  									</tr>
								  <% @first = false %>
								  <%end%>
								</tbody> 
							</table> 
						</div> 
					</div> 
				</div>