<h3><%= "#{@profile.first_name} #{@profile.last_name}"%></h3>

<h3>Personal Information</h3>
<p>Location: <%= @profile.location %></p>
<p>Interests: <%= @profile.interests %></p>

<h3>Education</h3>
<p>University: <%= @education.institution %></p>
<p>Degree: <%= @education.degree %></p>
<p>Graduated/Expected: <%= @education.to %></p>