<!DOCTYPE html>
<html>
<head>
  <title>SoCap</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
  <%= javascript_include_tag "daterangepicker.JQuery.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if current_user_class == Attendee %>
  <%= render 'shared/attendee_navbar' %>
<% elsif current_user_class == Organizer %>
  <%= render 'shared/organizer_navbar' %>
<% end %>

<%= yield %>

</body>
</html>
